.background-section{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('../images/bg-image.jpg') no-repeat center/cover;
    color:white;
}

.background-section button{
    padding:12px;
    border:none;
    background:#e89656;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}

.background-section h1{
    font-size:50px;
}

.background-section p{
    margin:15px 0;
    font-size:18px;
}

.hero-section-main-container{
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.hero-section-main-container img{
    border-radius: 10px;
}

.info-main-container{
    margin-top: 100px;
}

.info-main-container span{
    font-size: 50px;
    font-weight: bold;
}

.info-main-container p{
    text-align: justify;
    line-height: 1.9;
}

.hero-section-img-container{
    padding: 20px;
}

/* deatination */

.destinations-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.destinations-section-heading{
    font-size: 40px;
}

.destinations-section-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.destinations-section-items-1{
    margin-top: 10px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/bg-image.jpg');   
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 400px;
    width: 300px;
}

.destinations-section-items-sub-part-1{
     margin-top: 10px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/bg-image.jpg');   
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 190px;
    width: 300px;
    
}

.destinations-section-items-sub-part-2{
   margin-top: 10px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/bg-image.jpg');   
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 192px;
    width: 300px;
}

.destinations-section-items-sub-part-3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/travel-iamge.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
     height: 192px;
    width: 300px;
    margin-top: 10px;
}

.destinations-section-items-sub-part-4{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/travel-iamge.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
     height: 192px;
    width: 300px;
    margin-top: 10px;
}